/* Applies to the entire body of the HTML document (except where overridden by more specific

/* Add a black background color to the top navigation */

body {
    background-size: cover;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding: 10px;
}

body.container{
    display: grid;
    grid-template-columns:  1fr 2fr auto 2fr 1fr;
    grid-template-rows: 40px auto auto 10px;
    row-gap: 1px;
}

header {
    grid-column: 1 /-1;


}

.navbar {
    background-color:black;
    padding: 20px 0;
    text-align: center;
}

.navbar li {
    display:inline;
    padding-right:20px;
    color: white;

}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}


.navbar a:hover {
    background-color: wheat;
    color: papayawhip;
}


.navbar a:active {
    background-color: #9e6e83;
    color: burlywood;
    font-weight: bold;
}

.background {
    background-image: url("../images/back4.jpeg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}

main {
    color: gray;
    font-family: 'Poppins', sans-serif;
    margin:1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    grid-column: 1/-1;
    grid-row: 2 /span 1;
}

h1 {
    font-size: 35px;
    margin-top: 10px;
    margin-left: 1%;
    font-family:'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 2%;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 3%;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}


p {
    font-size: 22px;
    font-weight: normal;
    margin-top: 15px;
    margin-left: 3%;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;

}

.gallery img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width:70%;
    border: 5px solid beige;
    padding: 15px;
    margin: 0 auto;
    position: relative;

}
.gallery figcaption {
    margin-top: 5px;
    text-align: center;
}

.gallery img:hover {
    width: 70%;
    position: inherit;
}



.picture img {
    display: flex;
    width:70%;
    border: 5px solid beige;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    animation: fadeIn 5s;

}

.picture figcaption {
    margin-top: 5px;
    text-align: center;
}

.picture img:hover {
    width: 70%;
    position: inherit;

}

.ref {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    color: saddlebrown;

}

.hotel-ref {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    color: antiquewhite;
}


#index-footer {
    color: white;
}


.self {
    width: auto;
    height: auto;
    text-align: center;
    color: dimgrey;
    font-size: 20px;
    background-image: url("../images/back_me5.jpeg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    grid-row: 4/ span all;
    grid-column: 1/-1;


}

.photo {
    width: 120px;
    border-radius: 50%;
}

.contact {
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    justify-content:space-between;
}

footer{
    grid-column: 3 /span 1;
    grid-row: 6;
    justify-content: center;
}
#motive {
    animation: fadeIn 3s;
}

/*Animate one of the images */
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@media screen and (prefers-reduced-motion) {
    #motive {
        animation: none;
    }
}
